.algolia-search-wrapper .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
    color: $accentColor !important;
}

.theme-dark {
    .algolia-search-wrapper .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--category-header {
        background: darken($accentColor, 10%) !important;
    }

    .algolia-search-wrapper .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
        color: $accentDarkColor !important;
    }
}
